@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$white: #f5f5f5;
$black: #1e1e1e;
$hoverBlack: #6b6b6b;
$orange: #ffcf25;
$green: #209e00;
$blue: #0041ab;
$hoverGreen: #2bd600;
$red: #c42727;
$hoverRed: #ff3021;

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}